{% extends 'base.html'%}

{% block content%}

<div class="container-fluid text-center p-5">
    <h1> About </h1>
  </div>

  <div class="container text-center">
    <div class="row">    
      <div class="col-12">
        <div class="card container-fluid">
            <div class="card-body">
              <p> This Blogging Application helps different authors/users to create different post about various events happening. 
                The users are authenticated and also properly verified and also the application makes sure that it only a specified author who creates a post can edit or delete the post. 
                Also, this application has a special feature called the Admin Panel. 
                The Admin Panel helps an Admistrator to monitor all the affairs of the application and perform only Admin Functionalities.</p>
              <p> Special thanks goes to @Caleb, my tutor and all other websites and video that helped also like(codemy.com, stackoverflow, to mention but a few!).</p>
              <p> This Blog is Designed by Tunwashe - Daniel, with the help of AltSchool Africa. </p>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}


